@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;800&family=Bebas+Neue&family=Kanit&family=Lato&family=Playfair+Display&family=Poppins&family=Roboto&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
section {
  scroll-snap-align  : y mandatory;
}
h1{
  font-family: 'roboto';
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url(img/asset\ 0.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 8.7rem;
}
.container1 {
  height: 14vh;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  font-family: "Roboto";
  font-weight: 800;
}
.logo {
}
.logo img {
  height: 2.4rem;
  width: 12rem;
}
.navbar {
}
.navbar ul {
}

.navbar ul li:hover {
  background-color: rgba(128, 128, 128, 0.15);
  padding: 0.4rem 1.3rem;
  border-radius: 5px;
}
.navbar ul li {
  transition: all 0.3s;
  display: inline-block;
  padding: 0 1.3rem;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system;
  font-weight: 400;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
}

.navbar2 {
}
.navbar2 ul {
}
.navbar2 ul li {
  display: inline-block;
  padding: 0 1.3rem;
  font-size: 1.5rem;

  font-family: system-ui, -apple-system;
  font-weight: 400;
}
.navbar2 ul li:hover {
  background-color: rgba(128, 128, 128, 0.15);
  padding: 0.4rem 1.3rem;
  border-radius: 5px;
}

.navbar2 ul li a {
  text-decoration: none;
  color: #000;
}
.model-price {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
}
.price {
  color: rgb(43, 43, 43);
  font-size: 1.9rem;
  font-family: sans-serif;
}
.buttons {
  text-align: center;
  margin-top: 29rem;
}
.btn {
  cursor: pointer;
  padding: 1.2rem;
  border: none;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 700;
  margin: 0 1rem;
  width: 27rem;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 2;
}
.btn1 {
  background-color: rgb(34, 34, 34);
  color: white;
}

.page2 {
  width: 100%;
  height: 100vh;
  background-image: url(img/asset\ 1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 13.4rem 0;
  scroll-snap-align: center;
}
.page3 {
  width: 100%;
  height: 100vh;
  background-image: url(img/asset\ 2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 13.4rem 0;
  scroll-snap-align: center;
}
.page4 {
  width: 100%;
  height: 100vh;
  background-image: url(img/asset\ 3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 13.4rem 0;
}
.page5 {
  width: 100%;
  height: 100vh;
  background-image: url(img/asset\ 4.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 13.4rem 0;
  scroll-snap-align: center;
}
.page6 {
  width: 100%;
  height: 100vh;
  background-image: url(img/asset\ 5.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 13.4rem 0;
  scroll-snap-align: center;
}
.page7 {
  width: 100%;
  height: 100vh;
  background-image: url(img/asset\ 6.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12rem 0;
  scroll-snap-align: center;
}
footer{
  height: 5rem;
  background: grey;
  font-size: 2rem;
  text-align: center;}

footer h4{
  color: white;
  padding-top: 1rem;
}
